html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: rgb(149, 255, 176);
  background: linear-gradient(
    180deg,
    rgb(149, 255, 176, 1) 0%,
    rgb(149, 255, 176, 1) 15%,
    rgb(236, 236, 236, 1) 15%,
    rgb(236, 236, 236, 1) 130%
  );
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}
